{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" type="text/css">
{% endblock %}

{% block title %}
    API | TestCube
{% endblock %}

{% load rest_framework %}

{% block navbar %}
    <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-default{% endblock %}">
        <div class="container">
            <span>
              {% block branding %}
                  <a class='navbar-brand' rel="nofollow" href='/'>
                    Home
                </a>
              {% endblock %}
            </span>

            <ul class="nav navbar-nav">
                <li><a href="#" data-vivaldi-spatnav-clickable="1" style="">Test Run</a></li>
                <li><a href="#" data-vivaldi-spatnav-clickable="1" style="">Test Case</a></li>
                <li><a href="#" data-vivaldi-spatnav-clickable="1" style="">Tags</a></li>
                <li><a href="{% url 'docs' 'faq' %}" data-vivaldi-spatnav-clickable="1" style="">FAQ</a></li>
                <li class="active"><a href="#" data-vivaldi-spatnav-clickable="1" style="">API</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                       data-vivaldi-spatnav-clickable="1" style="">More <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-vivaldi-spatnav-clickable="1">TestLink</a></li>
                        <li><a href="#" data-vivaldi-spatnav-clickable="1">Jenkins</a></li>
                        <li><a href="#" data-vivaldi-spatnav-clickable="1">TeamCity</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                {% block userlinks %}
                    {% if user.is_authenticated %}
                        {% optional_logout request user %}
                    {% else %}
                        {% optional_login request %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
{% endblock %}
