#### For deployment purpose, you could set bellow environment variables ###

TESTCUBE_DEBUG=True

TESTCUBE_SECRET_KEY=t/$udJ|0S{N5vNWDGnDh[;Yo;Gy/8c@y[<3F`eLk:F8KEckG0_
TESTCUBE_ALLOWED_HOSTS=localhost,127.0.0.1,example.com

TESTCUBE_DB_ENGINE=django.db.backends.sqlite3
TESTCUBE_DB_NAME=/path/to/your/db
TESTCUBE_DB_HOST=127.0.0.1
TESTCUBE_DB_PORT=3306
TESTCUBE_DB_USER=root
TESTCUBE_DB_PASSWORD=***

TESTCUBE_STATIC_URL=/static/
TESTCUBE_STATIC_ROOT=/path/to/static/files

TESTCUBE_MEDIA_URL=/media/
TESTCUBE_MEDIA_ROOT=/path/to/media/files

TESTCUBE_LOG_ROOT=/path/to/log/directory

TESTCUBE_DSN='Your Sentry DSN key, blank means disable Sentry'
