# basic
django
djangorestframework
markdown
django-filter
django-bootstrap-form
django-ipware
djangorestframework-filters
django-tagging

# for development
django-debug-toolbar

# for unit testing
coverage
django-coverage-plugin
faker
