# basic
django
djangorestframework
django-filter
django-bootstrap-form
django-ipware
djangorestframework-filters
django-tagging
raven

# for development
django-debug-toolbar

# for unit testing
coverage
django-coverage-plugin
faker