{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %} | TestCube</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16"/>
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'common.css' %}" rel="stylesheet">
    {#    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" type="text/css">#}
    {% block header %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% block body-begin %}
{% endblock %}

{% block navbar %}
    {% include './snippets/nav_menu.html' %}
{% endblock %}

{% block body %}
    {% include './snippets/default.html' %}
{% endblock %}

{% block footer %}
    {% include './snippets/footer.html' %}
{% endblock %}

<div class="spinner hidden">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

{#always load these scripts#}
<script src="{% static 'require.js' %}"></script>

{% block scripts %}
    <script>
        require(['static/require-config'], function () {
            console.log('require config loaded.')
        });
    </script>
{% endblock %}

{% block body-end %}
{% endblock %}

</body>
</html>
