{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %} | TestCube</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


{% block body-begin %}
{% endblock %}

{% block navbar %}
    {% include './snippets/nav_menu.html' %}
{% endblock %}

{% block body %}
    {% include './snippets/default.html' %}
{% endblock %}

{% block footer %}
    {% include './snippets/footer.html' %}
{% endblock %}

{#always load these scripts#}
<script src="{% static 'libs/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>

{% block scripts %}
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.js"></script>
    <script src="{% static 'script.js' %}"></script>
{% endblock %}


{% block body-end %}
{% endblock %}

</body>
</html>
