{% extends './base.html' %}
{% block title %}Reset Password{% endblock %}

{% load bootstrap %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% if error %}
          <p class="text-danger" style="margin-top: 8px"> {{ error }} </p>
        {% else %}
          <form role="form" method="post">
            <legend>Reset Password for User</legend>
            {% csrf_token %}
            {{ form | bootstrap }}
            <button class="btn btn-primary" type="submit">Reset Password</button>
          </form>
        {% endif %}
        {% if message %}
          <p id="form-message" class="text-success" style="margin-top: 8px"> {{ message }} </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
