{% extends './base.html' %}
{% load static %}

{% block title %}Run Detail{% endblock %}
{% block header %}
    <link href="{% static 'libs/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="https://cdn.bootcss.com/c3/0.4.13/c3.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'runs' %}">Runs</a></li>
            <li id="run-nav" class="active"><a href="">{{ run_id }}</a></li>
        </ul>

        <div id="main-content">
            <div class="row">

                <div class="col-md-12">
                    <h2>Summary</h2>
                    <hr/>
                    <div class="col-md-8">
                        <div id="detail-chart"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="rate-chart"></div>
                    </div>
                    <table id="run-summary"></table>
                    <h2>Results</h2>
                    <hr/>
                    <ul class="nav nav-pills ">
                        <li class="active nav"><a href="#tab-failed" data-toggle="tab">Failed</a></li>
                        <li class="nav"><a href="#tab-passed" data-toggle="tab">Passed</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-failed">
                            <div class="spacer20"></div>
                            <table id="result-failed-list"></table>
                        </div>
                        <div class="tab-pane fade" id="tab-passed">
                            <div class="spacer20"></div>
                            <table id="result-passed-list"></table>
                        </div>
                        <h2>History</h2>
                        <hr/>
                        <table id="run-history"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'chart-utils.js' %}"></script>
    <script src="{% static 'table-utils.js' %}"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdn.bootcss.com/c3/0.4.13/c3.min.js"></script>

    <script>
        $(function () {
            runDetailPageRender({{ run_id }});
        });
    </script>
{% endblock %}
