{% extends './base.html' %}
{% load static %}

{% block title %}Runs{% endblock %}
{% block header %}
    <link href="{% static 'libs/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'runs' %}">Runs</a></li>
            <li id="run-nav" class="active"><a href="">{{ run_id }}</a></li>
        </ul>

        <div id="main-content">
            <div class="row">

                <div class="col-md-12">
                    <h2>Summary</h2>
                    <hr/>
                    <table id="run-summary" class="table"></table>
                    <h2>Results</h2>
                    <hr/>
                    <table id="result-list" class="table"></table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'table-utils.js' %}"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>

    <script>

        $(function () {
            $('#run-summary').bootstrapTable({
                url: '/api/runs/{{ run_id }}/info/',
                responseHandler: runDetailSummaryDataHandler,
                search: false,
                pagination: false,
                sortable: true,
                showFooter: false,
                columns: [
                    {title: 'ID', field: 'id'},
                    {title: 'Team', field: 'team.name'},
                    {title: 'Product', field: 'product.name'},
                    {title: 'Name', field: 'name'},
                    {title: 'Start Time', field: 'start_time', formatter: timeFormatter},
                    {title: 'Duration', field: 'duration'},
                    {title: 'Start By', field: 'start_by'},
                    {title: 'Passed', field: 'result_passed'},
                    {title: 'Failed', field: 'result_failed'},
                    {title: 'Total', field: 'result_total'},
                    {title: 'Status', field: 'get_status_display'},
                    {title: 'State', field: 'get_state_display'}
                ],
                onPostBody: runDetailTablePostEvent
            });
        });
    </script>
{% endblock %}
