{% extends './base.html' %}
{% load static %}

{% block title %}Runs{% endblock %}
{% block header %}
    <link href="{% static 'libs/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Runs</li>
        </ul>

        <div id="main-content">
            <div class="row">
                <div class="col-md-2">
                    <p class="lead">By Teams</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">All</a>
                        <a href="#" class="list-group-item">Core</a>
                        <a href="#" class="list-group-item">TestCube</a>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="">
                        <table id="table" class="table">
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'table-utils.js' %}"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>

    <script>
        $(function () {
            $('#table').bootstrapTable({
                url: '/api/runs/recent/',
                responseHandler: runTableDataHandler,
                search: true,
                pagination: true,
                pageSize: 20,
                pageList: [20, 30, 50, 100],
                sortName: 'id',
                sortOrder: 'desc',
                sortable: true,
                showFooter: false,
                columns: [
                    {title: 'ID', field: 'id', formatter: runIdFormatter, sortable: true},
                    {title: 'Team', field: 'team.name', sortable: true},
                    {title: 'Product', field: 'product.name', sortable: true},
                    {title: 'Title', field: 'name', sortable: true},
                    {title: 'Start Time', field: 'start_time', sortable: true},
                    {
                        title: 'Passing',
                        field: 'passing_rate',
                        formatter: rateFormatter,
                        sorter: rateSorter,
                        sortable: true
                    },
                    {title: 'State', field: 'get_state_display', sortable: true}
                ],
                onPostBody: runTablePostEvent
            });


        });
    </script>
{% endblock %}
