{% extends './base.html' %}
{% load static %}

{% block title %}Runs{% endblock %}
{% block header %}
    <link href="{% static 'libs/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Runs</li>
        </ul>

        <div id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div id="toolbar">
                        <form>
                            <select id="team-picker" class="selectpicker" data-live-search="true" data-width="auto">
                                <option value="">Team</option>
                            </select>
                            <select id="product-picker" class="selectpicker" data-live-search="true" data-width="auto">
                                <option value="">Product</option>
                            </select>
                        </form>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-table/bootstrap-table-cookie.js' %}"></script>
    <script src= {% static 'libs/bootstrap-select/bootstrap-select.min.js' %}></script>
    <script src="{% static 'table-config.js' %}"></script>
    <script src="{% static 'table-utils.js' %}"></script>
    <script src="{% static 'libs/moment.min.js' %}"></script>

    <script>
        $(function () {
            runListTableRender('/api/runs/recent/');
            $.ajax('/api/runs/clear/')
        });
    </script>
{% endblock %}
