{% extends './base.html' %}
{% block title %}Sign In{% endblock %}

{% load bootstrap %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form role="form" method="post">
                    <legend>Welcome Back</legend>
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    <button class="btn btn-primary" data-vivaldi-spatnav-clickable="1" type="submit">Sign In</button>
                </form>

                <br>
                <p>Forget password? <a href="{% url 'reset_password' %}">Reset.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
