{% extends './base.html' %}
{% load static %}

{% block title %}TestCase Detail{% endblock %}
{% block header %}
    <link href="{% static 'libs/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'testcases' %}">TestCases</a></li>
            <li id="case-nav" class="active"><a href="">{{ case_id }}</a></li>
        </ul>

        <div id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <h2>Summary</h2>
                    <hr/>
                        <div class="form-group">
                            <label for="tc-tags">Tags: </label>
                            <input type="text" id="tc-tags"
                                   data-role="tagsinput"/>
                        </div>
                    <table id="case-summary"></table>

                    <h2>History</h2>
                    <hr/>
                    <table id="case-history"></table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block scripts %}
    <script>
        require(['/static/require-config.js'], function () {
            require(['table-func', 'bootstrapTagsInput'], function (func) {
                func.caseDetailTableRender({{ case_id }});
            });
        });
    </script>
{% endblock %}
