.main.container {
  margin-top: 6em;
}

.last.container {
  margin-bottom: 300px !important;
}

h1.ui.center.header {
  margin-top: 2em;
}

h2.ui.center.header {
  margin-top: 3em;
  margin-right: 0;
  margin-left: 0;
}

h3.ui.center.header {
  margin: 1em 0;
  padding: 1em 0;
}

.fixed.launch.button {
  display: none;
  position: fixed;
  top: 45%;
  right: 0;
  width: 45px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.3s width ease,
  0.5s transform ease;
  -moz-transition: 0.3s width ease,
  0.5s transform ease;
  -o-transition: 0.3s width ease,
  0.5s transform ease;
  -ms-transition: 0.3s width ease,
  0.5s transform ease;
  transition: 0.3s width ease,
  0.5s transform ease;
}
