body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-image: url("images/cube-light.jpg");
  background-size: cover;
}

.display-table {
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
