body {
  padding-top: 75px;
  padding-bottom: 30px;
}

.jumbotron {
  background-image: url("images/cube-light.jpg");
  background-size: cover;
  margin-top: -25px;
}

.display-table {
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
