<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'runs' %}" data-vivaldi-spatnav-clickable="1" style="">Test Run</a></li>
                <li><a href="{% url 'testcases' %}" data-vivaldi-spatnav-clickable="1" style="">Test Case</a></li>
                <li><a href="#" data-vivaldi-spatnav-clickable="1" style="">Tags</a></li>
                <li><a href="{% url 'docs' 'faq' %}" data-vivaldi-spatnav-clickable="1" style="">FAQ</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"
                       data-vivaldi-spatnav-clickable="1" style="">More <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-vivaldi-spatnav-clickable="1">TestLink</a></li>
                        <li><a href="#" data-vivaldi-spatnav-clickable="1">Jenkins</a></li>
                        <li><a href="#" data-vivaldi-spatnav-clickable="1">TeamCity</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'signout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'signin' %}?next={{ request.path }}" data-vivaldi-spatnav-clickable="1"
                           style="">Sign In</a>
                    </li>
                    <li><a href="{% url 'signup' %}" data-vivaldi-spatnav-clickable="1" style="">Sign Up</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
